

.sidebar {
  margin-top: -20px;
  background-color: #1b264d;
  height: 100vh;
  color: white;
  width: 25vw ;
  padding: 10px 0;
  margin-left: -40px !important ;
   
}
ul li{
  list-style-type: none;
  padding-bottom: 10px;
  
}
a {
  text-decoration: none;
  color: rgb(163, 148, 148);
  padding: 20px ;
  font-weight: 500;
  
}
.checkbox-icon {
 padding-right: 15px;
}
.dropdown-icon {
  float: right;
  padding-right: 10px;
}
h3{
 margin-top:10%;
  text-align: center;
  color: aliceblue;
}
.statistics-icon {
font-size: 1.5rem;
padding-right: 10px;
}
input[type=checkbox] {
  accent-color: green;
  border-radius: 50%;
  font-size: 1.5rem;
}


         



